.sections{
  margin-top: 10px;
}

.some-network {
  vertical-align: top;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
}

.share-button {
  cursor: pointer;
}

.share-button:hover:not(:active) {
  opacity: 0.75;
}